#######################
## Specific to Prettier
#######################

# Ignore all extensions (folders with . are allowed)
*.*
!.*/
!*.*/

# Allow certain extensions
!*.js
!*.json
!*.md
!*.ts
!*.tsx
!*.yml

########################
## Same as in .gitignore
########################

# dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# testing
/coverage

# next.js
/.next/
/out/
tsconfig.tsbuildinfo

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# custom
cli/README.md

#########################
## Shared between linters
#########################

.git/
.husky/
.yarn/
