#######################
## Specific to Prettier
#######################

## ignore all files (but still allow sub-folder scanning)
*
!*/

## allow certain file types
!*.cjs
!*.js
!*.json
!*.md
!*.mjs
!*.ts
!*.tsx
!*.yml

## Allow certain files without extensions
!.husky/*
!Dockerfile

#########################
## Shared between linters
#########################

.git/
pnpm-lock.yaml
